.inbox_container {
    height: 100%;
    padding: 4% 6%;
    width: 80%;
    transition: .3s all ease-in-out;
}

.inbox_container_after {
    height: 100%;
    padding: 4% 6%;
    width: 60%;
    transition: .3s all ease-in-out;
}

.inbox_header_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
}

.filter_icon {
    display: flex;
    align-items: center;
    margin: 0 10px;
    height: 100%;
}


.MuiButtonBase-root {
    background-color: #8D8B8B !important;
}

.canvas_body_inbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.canvas_body_item_inbox{
    border: none;
    outline: none;
    height: 4vh;
    padding: 0 5px;
    border-radius: 2px;
    font-size: 14px;
    width: 80% !important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 3px;
}

.react-datepicker-wrapper{
    width: 80% !important;

}
.react-datepicker__input-container{
    width: 100% !important;
}

.date_inbox{
    width: 100% !important;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-direction: row-reverse;
}

.MuiPaper-rounded {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
}

/* filter */
.filter_icon_inbox{
    width: 50px !important;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;align-items: center;
    justify-content: center;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.filter_icon_inbox_active{
    background-color: #EEEEEE;
    width: 50px !important;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;align-items: center;
    justify-content: center;
    transition: .3s all ease-in-out;
    cursor: pointer;
}


.filter_wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 4vh;
    margin: 0 0 10px 0;
}
