nav {
    width: 100%;
    overflow-x: scroll;
}

nav::-webkit-scrollbar {
    display: none;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s all ease-in-out;
    width: 100%;
    gap: 5px;
}

.page_item{
    padding: 7px 5px;
    border: 1px solid #DBDCDC;
    border-radius: 5px;
    color: #8D8B8B !important;
    width: 35px;

}


.active {
    color: #FFFF !important;
    background-color: #8D8B8B !important;
    padding: 7px 5px;
    border: 1px solid #DBDCDC;
    border-radius: 5px;
    width: 35px;
}